body{
    display: flex;
    justify-content: center;
}

#container{
    display: flex;
    flex-direction: column;
    border: 2px black solid;
    gap: 3px;
}

.display{
    border: 2px cornflowerblue solid;
    height: 40px;
    display: flex;
    justify-content:flex-end;    
    align-items: flex-end;
}
.row{
    display: flex;
    gap: 4px;
}

.row4{
    display: flex;
    justify-content: space-between;
}

.key{
    border: 2px cornflowerblue solid;
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: monospace;
}

.bigKey{
    width: 40px;
}

.numbers{
    background-color: orange;
}

.operators{
    background-color: green;
}

.functions{
    background-color: red;
}

.decimal{
    background-color: gray;
    margin-left: -2.15px;
}

.none{
    border: none;
}